@model OnlineShop.ViewModels.HomeViewModel
@using OnlineShop.Infrastructure

@{
    ViewBag.Title = "Shop Online";
}


<div class="container">
    <div class="row">






        <div class="col-md-12 item text-center"><img src="@Url.Content("~/Content/images/logo_damskie.jpg")" alt=""></div>
    </div>
    <div class="row">
        <div class="col-md-12 item text-center"><a href=""><img src="@Url.Content("~/Content/images/logo_meskie.jpg")" alt=""> </a></div>
    </div>
</div>




@foreach (var category in Model.Categories)
{
    <li>
        <a href="@Url.Action("List", "Products", new { nameCategories = category.CategoryName.ToString() })">

            @category.CategoryName
        </a>
    </li>
}










@foreach (var category in Model.Categories)
{
    <li>
        <a href="@Url.Action("List", "Products", new { nameCategories = category.CategoryName.ToString() })">

            @category.CategoryName
        </a>

    </li>
}



@foreach (var recent in Model.Recent)
{
    <li>
        <article>
            <a class="addToBasketLink" href="@Url.Action("AddToBasket","Basket", new { id = recent.ProductID})">
                <img src="" />


                <a class="productDetailsLink" href="@Url.Action("Details","Products", new { id = recent.ProductID})">
                    <img class="product" src="@Url.ImagesPath(recent.NameImageFile)" />

                    @recent.ProductName
                </a>
</article>
    </li>
}















