
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="CategoriesList">

    @Html.Action("CategoriesMenu", "Products")


    <div>
        @Html.MvcSiteMap().SiteMapPath()
    </div>
</div>

@RenderSection("SectionTitle", required: false)

@RenderBody()

@section Scripts 
{
    @RenderSection("Scripts", required: false)
  
    }