@model OnlineShop.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_RightSectionLayout.cshtml";
}




    <div id="Login">
        @using (@Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div id="login-error">
                @Html.ValidationMessage("loginerror", "")
            </div>




            <table id="login-table" style="margin-left: auto; margin-right: auto;">
                <tr>
                    <td style="padding: 0px 80px 0px 0px; text-align: left;">
                    @Html.LabelFor(o => o.Email, "E-mail:")</td>
                    <td style="padding: 0px; text-align: center; padding-right:120px">
                        @Html.TextBoxFor(o => o.Email)
                        <div class="login-validation-message">
                            @Html.ValidationMessageFor(o => o.Email)
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0px 80px 0px 0px; text-align: left;">
                    @Html.LabelFor(o => o.Password, "Haslo:")</td>
                    <td style="padding: 0px; text-align: center;  padding-right:120px" >
                        @Html.PasswordFor(o => o.Password)
                        <div class="login-validation-message">
                            @Html.ValidationMessageFor(o => o.Password)
                        </div>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: center; padding-right: 0px; padding-left: 0px;">
                        <div class="checkbox" style="margin-bottom: 10px; padding-bottom:10px;">
                            @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })
                            @Html.LabelFor(m => m.RememberMe)
                        </div>

                        <input type="submit" value="Zaloguj sie" class="submitLink" style="height: 40px; text-align: center; margin: 0px; padding: 0px;" />
                    </td>
                </tr>
         
            </table>
        }

    
<div style="text-align: center;">
    <a href="@Url.Action("Register")">Nie mam jeszcze konta</a>
</div>
</div>


@section Scripts
{
    <script src="~/Scripts/jquery-2.2.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
}