@model IEnumerable<OnlineShop.Models.Product>
@using OnlineShop.Infrastructure




<div id="SectionCategoriesList">
    <ul class="Products ProductPrice">
        @foreach (var product in Model)
        {
            <li>
                <article>
                    <a class="addToBasketLink" href="@Url.Action("AddToBasket","Basket",new { id=product.ProductID})">
                        <img src="@Url.Content("~/Content/Images/koszyk.png")" />
                    </a>
                    <a class="productDetailsLink" href="@Url.Action("Details","Products",new { id=product.ProductID})">
                        <img class="product" src="@Url.ImagesPath(product.NameImageFile)" />
                        <h1>
                            @product.ProductName - @product.DateAdded
                        </h1>
                    </a>
                </article>
            </li>
        }
    </ul>
    </div>
