@model OnlineShop.Models.Product
    @using OnlineShop.Infrastructure
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>




@Html.Action("CategoriesMenu")

@Html.MvcSiteMap().SiteMapPath()
<section id="SectionProduct">
    <div id="ProductLeft">

        <img src="@Url.ImagesPath(Model.NameImageFile)" />
    </div>

    <div id="ProductRight">
        <div id="ProductName">
            <h1>
                @Model.ProductName
            </h1>
          
        </div>
        <div id="ProductPrice">
            <div>
                @string.Format("{0:0.##}", Model.Price)<span>PLN</span>
            </div>
            <a href="@Url.Action("AddToBasket", "Basket", new { id=Model.ProductID})"></a>
        </div>
        <div id="ProductDescription">
            @Model.ShoeDescribe
        </div>
       </div>
</section>