@model OnlineShop.Models.Product
    @using OnlineShop.Infrastructure
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="CatgoriesList">
    @Html.Action("CategoriesMenu")

    <div id="CategoriesListRightSection">
        <div id="MvcSiteMap">
            <a href="link">
                @Html.MvcSiteMap().SiteMapPath()
            </a>
        </div>


        <section id="SectionProduct">
            <div id="ProductLeft">

                <img src="@Url.ImagesPath(Model.NameImageFile)" />
            </div>

            <div id="ProductRight">






                <div id="ProductName">
                    <h1>
                        @Model.ProductName
                    </h1>

                </div>
                <div id="ProductPrice">
                    <div id="ProductPriceLeft">
                        Cena:     @string.Format("{0:0.##}", Model.Price)<span>PLN</span>
                    </div>
                    <div id="AddToBasketLink">
                        <a class="addToBasketLink"
                           href="@Url.Action("AddToBasket","Basket",new { id=Model.ProductID})">
                            <img src="@Url.Content("~/Content/Images/basket.png")" />
                        </a>
                    </div>

                </div>


                <div id="ProductSize">
                    <p> Rozmiar: </p>


                    @using (Html.BeginForm("", "Basket"))
            {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.ProductID)
                        @Html.DropDownList("shoesize", Enumerable.Range(35, 10).Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))

                    }

                </div>





                <div id="ProductDescription">
                    @Model.ShoeDescribe
                </div>
            </div>
        </section>
    </div>

</div>
        

